<footer class="site-footer">
    <div class="container pt-5">
        <div class="row text-left">
            
            <div class="col-md-3 py-3">
                <h6> WE ARE HERE </h6>
                <p></p>
                <p><a href="https://www.instagram.com/?hl=en" target=”_blank”><img src="http://127.0.0.1:3112/images/footer_icon_insta.png" alt="Instagram icon" width=20px;></a>   Instagram</p>
                <p><a href="https://www.twitter.com/" target=”_blank”><img src="http://127.0.0.1:3112/images/footer_icon_twitter.png" alt="twiiter icon" width=20px;></a>   Twitter</p>
            </div>
              
            <div class="col-md-3 py-3">
                <h6> GET IN TOUCH </h6>
                <p></p>
                <p> Email us at:<br><a href= "mailto: Darkom_sa.com" style="color:white!important;">Darkom@sa.com</a></p>
                <p><i class="fa-solid fa-phone" style="color: white;"></i>011-2487765</p>
            </div>
            
            <div class="col-md-3 py-3">
                <h6> QUICK LINKS </h6>
                <p><a href=".." style="color: white !important; "> Account</a></p> <!-- add  text-decoration: none; attribute if we want w/o underline -->
                <p><a href="services.html" style="color: white !important;"> Services</a></p> 
            </div>
        </div>

    </div>

</footer>
<!-- START SOCKET -->
<div class="socket text-left py-4">
    <img id="logo" src="http://127.0.0.1:3112/images/darkom_logo.png" alt="image of logo"> <br>
    <p>&copy;2023 Darkom.</p>
</div>
<!-- END SOCKET -->


<!-- SCRIPT SOURCE FILES -->
  
<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- BOOTSTRAP JS -->              
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- POPPER JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- FONT AWSOME ICONS -->
<script src="https://kit.fontawesome.com/6abe466a32.js" crossorigin="anonymous"></script>
          
<!-- END SCRIPT SOURCE FILES -->