<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

  <header>
    <% if (loggedIn) { %>
        <%- include('../partials/headerLogin'); %>
     <% } else { %>
        <%- include('../partials/header'); %>
     <% } %>
</header>
		<!-- RESET PASSWARED FPRM -->
        <div class="container mt-4">
            <div class="row">
                <h2 class="text-center">
                    Reset Passward
                </h2>
            </div>
        </div>
        
        <div class="container" id="acc" style="width:30%" > 
            <div class="container p-5 my-9 ">
              <form id="passResetForm" class="profileForm"  > 
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="" required>
                
                <button type="submit" class="btnForm" style="justify-content: center;">Reset Passward</button>
              </form>
            </div> 
        </div>

<script>
    document.getElementById("passResetForm").addEventListener("submit", function (event) {
      event.preventDefault();

      //   alert("hi");

      var form = event.target;
      var formData = new FormData(form);

      var jsonData = {};
      formData.forEach(function (value, key) {
        jsonData[key] = value;
      });
      var reqData = JSON.stringify(jsonData)
      console.log("jsonData",jsonData);
      $.ajax({
        url: '/api/forgotPasswordEmail',
        type: 'post',
        data: jsonData,
        success: function(data){ 
          console.log("response",data)
          if (data.success) {
            Swal.fire(
            'Password link sent',
            data.message,
            'success',
            'OK'
            )
            console.log("response_data",data.response_data)
            
            // window.location.href = "/LoginSuccess";
          } else {
            Swal.fire({
            title: 'Error',
            text: data.message,
            icon: 'error',
            confirmButtonText: 'OK'
            })
            // alert(data.message)
            // new Toast(data.message, Toast.TYPE_ERROR, Toast.TIME_NORMAL);
            console.log("response_data",data.response_data)
          }
        }
      });

    });
</script>
  <%- include('../partials/footer'); %>


</body>
</html>